.footer-wrapper
	| {% block footer_navigation %}
	.footer-navigation
		.container
			.row
				.col-md-4.col-xs-6
					h4
						a(href="{{ url_for('main.homepage') }}")
							i.pi-blender-cloud-logo

					p.pl-2.
						Blender Cloud is the creative hub for your projects,
						powered by Free and Open Source Software.

					h5.d-flex
						a.px-2(href="https://www.youtube.com/BlenderCloudOfficial",
							title="Blender Cloud YouTube Channel")
							i.pi-social-youtube

						a.px-2(href="https://twitter.com/Blender_Cloud",
							title="Follow us on Twitter")
							i.pi-social-twitter

						a.px-2(href="https://www.facebook.com/BlenderCloudOfficial/",
							title="Follow us on Facebook")
							i.pi-social-facebook

				.col-md-2.col-xs-6
					h7.font-weight-bold
						a.d-block.pb-2(href="{{ url_for('cloud.learn') }}")
							| LEARN

					ul.list-unstyled
						li
							a(href="{{ url_for('cloud.courses') }}")
								| Courses
						li
							a(href="{{ url_for('cloud.workshops') }}")
								| Workshops
						li
							a(href="{{ url_for('cloud.production') }}")
								span.new Production Lessons

				.col-md-2.col-xs-6
					h7.font-weight-bold
						a.d-block.pb-2(href="{{ url_for('cloud.libraries') }}")
							| LIBRARIES

					ul.list-unstyled
						li
							a(href="{{ url_for('projects.view', project_url='hdri') }}",
								title="HDRI Library")
								| HDRIs
						li
							a(href="{{ url_for('projects.view', project_url='textures') }}",
								title="Texture Library")
								| Textures
						li
							a(href="{{ url_for('projects.view', project_url='characters') }}",
								title="Characters")
								| Characters
						li
							a(href="{{ url_for('projects.view', project_url='gallery') }}")
								| Art Gallery

				.col-md-2.col-xs-6
					h7.font-weight-bold
						a.d-block.pb-2(href="{{ url_for('cloud.services') }}")
							| SERVICES

					ul.list-unstyled
						li
							a(href="{{ url_for('cloud.services') }}#blender-cloud-add-on",
								title="Blender Cloud add-on")
								| Add-on
						li
							a(href="{{ url_for('projects.home_project') }}",
								title="Your synced Blender settings")
								| Blender Sync
						li
							a(href="/attract",
								title="Production management")
								| Attract
						li
							a(href="/flamenco",
								title="Render management")
								| Flamenco
						li
							a(href="{{ url_for('projects.home_project_shared_images')}}",
								title="Share your images from within Blender")
								| Image Sharing

				.col-md-2.col-xs-6
					h7.font-weight-bold.d-block.pb-2
						| RESOURCES
					ul.list-unstyled
						li
							a(href="{{ url_for('main.main_blog') }}",
								title="Blender Cloud Blog")
								| Blog
						li
							a(href="{{ url_for('cloud.terms_and_conditions') }}",
								title="Terms and Conditions")
								| Terms and Conditions
						li
							a(href="{{ url_for('cloud.privacy') }}",
							title="Privacy")
								| Privacy Policy
						li.dropdown-divider
						li
							a(href="https://www.blender.org",
								title="Home of Blender, the Free and Open Source creative suite")
								| blender.org

	| {% endblock footer_navigation %}

	#hop(title="Be awesome in space")
		i.pi-angle-up
