.footer-wrapper
	| {% block footer_navigation %}
	.footer-navigation
		.container
			.row
				.col-md-4.col-xs-6
					h4
						a(href="{{ url_for('main.homepage') }}")
							i.pi-blender-cloud-logo

					p.pl-2.
						Blender Cloud is the creative hub for your projects,
						powered by Free and Open Source Software.

					h5.d-flex
						a.px-2(href="https://twitter.com/Blender_Cloud",
							title="Follow us on Twitter")
							i.pi-social-youtube

						a.px-2(href="https://twitter.com/Blender_Cloud",
							title="Follow us on Twitter")
							i.pi-social-twitter

						a.px-2(href="https://www.facebook.com/BlenderCloudOfficial/",
							title="Follow us on Facebook")
							i.pi-social-facebook

				.col-md-2.col-xs-6
					h7.font-weight-bold
						| TRAINING

					ul.list-unstyled
						li
							a(href="{{ url_for('cloud.courses') }}")
								| Courses
						li
							a(href="{{ url_for('cloud.workshops') }}")
								| Workshops
						li
							a(href="{{ url_for('projects.view', project_url='gallery') }}")
								| Art Gallery

				.col-md-2.col-xs-6
					h7.font-weight-bold
						| LIBRARIES

					ul.list-unstyled
						li
							a(href="{{ url_for('main.main_blog') }}",
								title="Blender Cloud Blog")
								| HDRIs
						li
							a(href="{{ url_for('cloud.services') }}",
								title="Blender Cloud Services")
								| Textures
						li
							a(href="{{ url_for('cloud.about') }}",
								title="About Blender Cloud")
								| Characters

				.col-md-2.col-xs-6
					h7.font-weight-bold
						a(href="{{ url_for('cloud.services') }}")
							| SERVICES

					ul.list-unstyled
						li
							a(href="{{ url_for('main.main_blog') }}",
								title="Blender Cloud Blog")
								| Add-on
						li
							a(href="{{ url_for('main.main_blog') }}",
								title="Blender Cloud Blog")
								| Blender Sync
						li
							a(href="{{ url_for('cloud.services') }}",
								title="Blender Cloud Services")
								| Attract
						li
							a(href="{{ url_for('cloud.about') }}",
								title="About Blender Cloud")
								| Flamenco
						li
							a(href="{{ url_for('cloud.about') }}",
								title="About Blender Cloud")
								| Image Sharing

				.col-md-2.col-xs-6
					h7.font-weight-bold
						| BLENDER
					ul.list-unstyled
						li
							a(href="{{ url_for('main.main_blog') }}",
								title="Blender Cloud Blog")
								| blender.org
						li
							a(href="{{ url_for('cloud.terms_and_conditions') }}",
								title="Terms and Conditions")
								| Terms and Conditions
						li
							a(href="{{ url_for('cloud.privacy') }}",
							title="Privacy")
								| Privacy
	| {% endblock footer_navigation %}

	#hop(title="Be awesome in space")
		i.pi-angle-up
