| {% extends 'layout.html' %}
| {% block page_title %}Production Lessons{% endblock %}
| {% set page_header_text = "Tips and tricks by the Open Movie crew." %}

| {% block head %}
script(src="{{ url_for('static_cloud', filename='assets/js/tagged_assets.min.js') }}")

script.
	$(function() {
		$('.js-asset-list').loadTaggedAssets(5, 3);
	})
| {% endblock %}
| {% block body %}
.container.pb-5
	.pt-4
		h2.text-uppercase.font-weight-bold
			| {{ self.page_title() }}
		.lead
			| {{ page_header_text }}

		hr.pb-2

		section.py-3.my-3.border-bottom
			h3 Animation
			.card-deck.card-padless.card-deck-responsive.list-unstyled(
				class="js-asset-list",
				data-asset-tag="animation")

		section.py-3.my-3.border-bottom
			h3 Modeling
			.card-deck.card-padless.card-deck-responsive.list-unstyled(
				class="js-asset-list",
				data-asset-tag="modelling")

		section.py-3.my-3.border-bottom
			h3 Rigging
			.card-deck.card-padless.card-deck-responsive.list-unstyled(
				class="js-asset-list",
				data-asset-tag="rigging")

		section.py-3.my-3
			h3 Pipeline
			.card-deck.card-padless.card-deck-responsive.list-unstyled(
				class="js-asset-list",
				data-asset-tag="pipeline")

| {% endblock body%}
