| {% extends 'layout.html' %}
| {% from '_macros/_navigation.html' import navigation_homepage %}
| {% from '_macros/_opengraph.html' import opengraph %}

include ../../../pillar/src/templates/mixins/components
include mixins/components

| {# Default collection is 'Courses' #}
| {% set page_title = 'Courses' %}
| {% set page_description = 'Production quality training by 3D professionals' %}
| {% set page_header_image = url_for('static', filename='assets/img/backgrounds/background_agent327_04.jpg') %}
| {% set page_header_text = 'Character modeling, 3D printing, VFX, rigging and more.' %}

| {% if title == 'workshops' %}
| 	{% set page_title = 'Workshops' %}
| 	{% set page_description = 'Production quality training by 3D professionals' %}
| 	{% set page_header_image = url_for('static', filename='assets/img/backgrounds/background_agent327_04.jpg') %}
| 	{% set page_header_text = 'Enter the artist workshop and learn by example.' %}
| {% endif %}

| {% block og %}
| {{ opengraph(page_title, page_description, page_header_image, request.url) }}
| {% endblock %}

| {% block page_title %}
| {{ page_title }}
| {% endblock %}

| {% block navigation_tabs %}
| {{ navigation_homepage(title) }}
| {% endblock navigation_tabs %}

| {% block body %}
.container.py-4
	+category_list_header('{{ page_title }}', '{{ page_description }}', '{{ request.url }}')

	+card-deck()
		| {% for project in projects %}

		| {% if (project.status == 'published') or (project.status == 'pending' and current_user.is_authenticated) and project._id != config.MAIN_PROJECT_ID %}
		+card(
			class='js-project-go card-fade cursor-pointer mb-4',
			style="min-width: 30%",
			data-url="{{ url_for('projects.view', project_url=project.url) }}",
			tabindex='{{ loop.index }}')

			| {% if project.picture_header %}
			a.card-thumbnail(href="{{ url_for('projects.view', project_url=project.url) }}")
				img.card-img-top(
					alt="{{ project.name }}",
					src="{{ project.picture_header.thumbnail('l', api=api) }}")
			| {% endif %}

			.card-body
				h5.card-title
					| {{ project.name }}
					| {% if project.status == 'pending' and current_user.is_authenticated and current_user.has_role('admin') %}
					small (pending)
					| {% endif %}

				| {% if project.summary %}
				p.card-text
					| {{project.summary|safe}}
				| {% endif %}
		| {% endif %}
		| {% endfor %}

| {% endblock %}


| {% block footer_scripts %}
script.
	$('.js-project-go').on('click', function(e){
		e.preventDefault();
		window.location.href = $(this).data('url');
	});
| {% endblock %}
