| {% extends 'layout.html' %}
| {% block page_title %}Welcome{% endblock %}

| {% set title = 'join' %}

| {% set price = '€ 9.90/mo' %}
| {% set subscribe_url = 'https://store.blender.org/product/membership/' %}

| {% block og %}
meta(property="og:title", content="Blender Cloud - Open Content Production Platform")
meta(property="og:url", content="{{ request.url }}")
meta(property="og:image", content="{{ url_for('static', filename='assets/img/backgrounds/background_dweebs_01.jpg')}}")
| {% endblock og %}

| {% block page_overlay %}
#page-overlay.video
	.video-embed
| {% endblock page_overlay %}

| {% block navigation_search %}{% endblock %}
| {% block navigation_sections %}
li
	a.navbar-item(href="{{ url_for('main.main_blog') }}")
		span Blog
li
	a.navbar-item(href="#pricing")
		span Pricing
| {% endblock navigation_sections %}

| {% block navigation_user %}
li.nav-item-sign-in
	| {% if current_user.is_anonymous %}
	a.navbar-item(href="{{ url_for('users.login', next='/') }}")
		| Log in and Explore
	| {% else %}
	a.navbar-item(href="{{ url_for('main.homepage') }}")
		| Explore
	| {% endif %}
| {% endblock navigation_user %}


| {% block body %}
#page-container.join
	#page-header(
		style="background-image: url({{ url_for('static', filename='assets/img/backgrounds/background_dweebs_01.jpg')}})")
		.container.wide-on-sm
			.row
				.col-sm-8.col-md-6.col-lg-6
					.page-title
						| Open content #[br] creation platform

					.page-title-summary.
						Support a world-class team of artists and developers,
						access training, assets and use the same animation
						production pipeline used to make shorts like Agent 327 or Cosmos Laundromat
						for your own projects.

	#page-content
		section.page-card.intro

			.page-card-side
				h2.page-card-title A Different Kind of Cloud
				.page-card-summary
					p.
						Blender Cloud is a fresh take on computer animation. We are an international group
						of artists and developers #[strong creating short films with Blender].
						We share what we make - assets, trainings and the finished films - as Open Content.
					p.
						With every project, we push Blender beyond its limits and contribute to
						improve it for everyone's benefit.

			.page-card-side
				a.page-card-image(href="/p/caminandes-3/56bdacccc379cf00797160b0", target="_blank")
					video(autoplay, loop)
						source(src="{{ url_for('static', filename='assets/img/features/animation_review_01.mp4')}}")


		section.page-card-header
			a(href="{{ subscribe_url }}")
				h2 Subscribe to Get


		section.page-card.training.right.light(
			style="background-image: url({{ url_for('static', filename='assets/img/backgrounds/background_orange_01.jpg')}})")

			.page-card-side.text
				a(href="{{ url_for('cloud.courses') }}")
					h2.page-card-title Blender Training
				.page-card-summary
					p.
						Learn from the pros, learn like a pro.
						Access high quality content, organized in
						#[a(href="{{ url_for('cloud.courses') }}") classes],
						#[a(href="{{ url_for('cloud.workshops') }}") workshop] and the
						#[a(href="/p/gallery") art gallery],
						a curated artwork selection, where you can open a
						.blend file and see how it was made.

					p.
						Learn by example. Watch animation reviews, narrated timelapses,
						shot walk-throughs and more.

					p.summary-action
						a.page-card-cta(
						href="{{ subscribe_url }}")
							| Subscribe for {{ price }}

						| See #[a.learn(href="{{ url_for('cloud.courses') }}") Courses] & #[a.learn(href="{{ url_for('cloud.courses') }}") Workshops]

			.page-card-side
				a.page-card-image(href="/p/scripting-for-artists/")
					img(
						alt="Sybren teaches Python Scripting with Blender",
						src="{{ url_for('static', filename='assets/img/backgrounds/background_sybren_01.jpg')}}")


		section.page-card-header
			a(href="{{ url_for('cloud.courses') }}")
				h2 Featured Content

		.page-triplet-container.homepage
			.row
				.col-md-4
					.triplet-card(data-url="/p/minecraft-animation-workshop/")
						.triplet-card-thumbnail
							img(
								alt="Textures",
								src="{{ url_for('static', filename='assets/img/features/training_minecraft_animation.jpg')}}")
						.triplet-card-info
							h3 Minecraft Animation
							p.
								Learn how to make animations with this workshop by Dillon Gu.
							a.triplet-cta(href="/p/minecraft-animation-workshop/")
								| LEARN MORE

				.col-md-4
					.triplet-card(data-url="/p/motion-graphics/")
						.triplet-card-thumbnail
							img(
								alt="HDRI",
								src="{{ url_for('static', filename='assets/img/features/training_motion_graphics.jpg')}}")
						.triplet-card-info
							h3 Motion Graphics
							p.
								A comprehensive guide to motion graphics techniques using Blender.
							a.triplet-cta(href="/p/motion-graphics/")
								| LEARN MORE

				.col-md-4
					.triplet-card(data-url="/p/gallery")
						.triplet-card-thumbnail
							img(
								alt="Characters",
								src="{{ url_for('static', filename='assets/img/features/training_bob_forest.jpg')}}")
						.triplet-card-info
							h3 Art Walk-throughs
							p.
								Follow the creative process and techniques behind stunning artwork.
							a.triplet-cta(href="/p/gallery")
								| LEARN MORE

			.row.training-other
				.col-md-10.col-md-offset-1
					p.
						Other training:
						#[a(href="/p/toon-character-workflow/") Toon Character Workflow],
						#[a(href="/p/3d-printing/") Blender for 3D Printing],
						#[a(href="/p/game-asset-creation/") Game Asset Creation],
						#[a(href="/p/blenderella/") Character Modeling],
						#[a(href="/p/character-animation/") Character Animation],
						#[a(href="/p/humane-rigging/") Introduction] and
						#[a(href="/p/blenrig/") Advanced Rigging],
						#[a(href="/p/track-match-2/") VFX Workflow],
						#[a(href="/p/creature-factory-2/") Creature] and
						#[a(href="/p/venoms-lab-2/") Cartoon Character creation],
						#[a(href="/p/chaos-evolution/") Advanced]
						#[a(href="/p/blend-and-paint/") Digital Painting] and
						#[a(href="{{ url_for('cloud.courses') }}") much more]!


		section.page-card.open-movies.light(
			style="background-image: url({{ url_for('static', filename='assets/img/backgrounds/background_blue_01.jpg')}})")

			.page-card-side.text
				a(href="{{ url_for('cloud.open_projects') }}")
					h2.page-card-title Blender Open Movies

				.page-card-summary
					p.
						Support open source software and open content creation.
						We have been creating outstanding shorts for over 10 years,
						from Big Buck Bunny to Sintel, Cosmos Laundromat and Agent 327.

					p.
						Help us to make more!

					p.summary-action
						a.page-card-cta(
						href="{{ subscribe_url }}")
							| Subscribe for {{ price }}

						a.learn(href="{{ url_for('cloud.open_projects') }}") Browse the Open Movies

			.page-card-side
				a.page-card-image(href="{{ url_for('cloud.open_projects') }}")
					img(
						alt="Open Movie Posters",
						src="{{ url_for('static', filename='assets/img/backgrounds/background_open_movies_01.png')}}")


		section.page-card-header
			a(href="{{ url_for('cloud.open_projects') }}")
				h2 Featured Open Movies

		.page-triplet-container.homepage
			.row
				.col-md-4
					.triplet-card(data-url="/p/hero/")
						.triplet-card-thumbnail
							img(
								alt="Hero",
								src="{{ url_for('static', filename='assets/img/features/open_movies_hero.jpg')}}")
						.triplet-card-info
							h3 Hero
							p.
								The first ever Grease Pencil open movie made with Blender 2.8
							a.triplet-cta(href="/p/hero/")
								| LEARN MORE

				.col-md-4
					.triplet-card(data-url="/p/spring/")
						.triplet-card-thumbnail
							img(
								alt="Spring",
								src="{{ url_for('static', filename='assets/img/features/open_movies_spring.jpg')}}")
						.triplet-card-info
							h3 Spring
							p.
								A poetic fantasy film. #[br] A stunning visual journey.
							a.triplet-cta(href="/p/spring/")
								| LEARN MORE

				.col-md-4
					.triplet-card(data-url="/p/caminandes-3/")
						.triplet-card-thumbnail
							img(
								alt="Caminandes",
								src="{{ url_for('static', filename='assets/img/features/open_movies_caminandes_llamigos.jpg')}}")
						.triplet-card-info
							h3 Caminandes
							p.
								Follow the adventures of Koro through the Patagonian pampas.
							a.triplet-cta(href="/p/caminandes-3/")
								| LEARN MORE

			.row.training-other
				.col-md-10.col-md-offset-1
					p.
						Other open movies:
						#[a(href="/p/elephants-dream/") Elephants Dream],
						#[a(href="/p/big-buck-bunny/") Big Buck Bunny],
						#[a(href="/p/sintel/") Sintel],
						#[a(href="/p/tears-of-steel/") Tears of Steel],
						#[a(href="/p/cosmos-laundromat/") Cosmos Laundromat],
						#[a(href="/p/glass-half/") Glass Half],
						#[a(href="/p/dailydweebs/") The Daily Dweebs],
						#[a(href="/p/agent-327/") Agent 327]
						and #[a(href="{{ url_for('cloud.open_projects') }}") more]


		section.page-card.services.light(
			style="background-image: url({{ url_for('static', filename='assets/img/backgrounds/background_gray_01.jpg')}})")

			.page-card-side.text
				a(href="{{ url_for('cloud.services') }}")
					h2.page-card-title Services
				.page-card-summary
					p.
						Use our production pipeline for your own projects.
						Featuring task tracking, render management and asset libraries.

						It's all free and open source software.

					p.
						Organizations support is also available!

					p.summary-action
						a.page-card-cta(
						href="{{ subscribe_url }}")
							| Subscribe for {{ price }}

						a.learn(href="{{ url_for('cloud.services') }}") Learn More

			.page-card-side
				a.page-card-image(href="{{ url_for('cloud.services') }}")
					img(
						alt="Blender Cloud services screenshots",
						src="{{ url_for('static', filename='assets/img/backgrounds/background_services_01.png')}}")


		section.page-card-header
			h2 Download 1000s of files and assets

		.page-triplet-container.homepage.assets
			.row
				.col-md-4
					.triplet-card(data-url="{{ url_for('projects.view', project_url='hdri') }}")
						.triplet-card-thumbnail
							img(
								alt="HDRI",
								src="{{ url_for('static', filename='assets/img/features/hdri_01.jpg')}}")
						.triplet-card-info
							h3 HDRI
							p.
								Up to 16K and 24 EVs (extremely high) HDR images to light your renders.
							a.triplet-cta(href="{{ url_for('projects.view', project_url='hdri') }}")
								| LEARN MORE

				.col-md-4
					.triplet-card(data-url="{{ url_for('projects.view', project_url='textures') }}")
						.triplet-card-thumbnail
							img(
								alt="Textures",
								src="{{ url_for('static', filename='assets/img/features/textures_01.jpg')}}")
						.triplet-card-info
							h3 Textures
							p.
								More than 1500 texture maps.
								Browse online or from Blender with our add-on.
							a.triplet-cta(href="{{ url_for('projects.view', project_url='textures') }}")
								| LEARN MORE

				.col-md-4
					.triplet-card(data-url="{{ url_for('projects.view', project_url='characters') }}")
						.triplet-card-thumbnail
							img(
								alt="Characters",
								src="{{ url_for('static', filename='assets/img/features/characters_01.jpg')}}")
						.triplet-card-info
							h3 Characters
							p.
								Production quality, fully rigged and shaded characters ready to animate.
							a.triplet-cta(href="{{ url_for('projects.view', project_url='characters') }}")
								| LEARN MORE


		section.pricing#pricing
			.container.wide-on-sm
				h2 Simple Pricing. Any payment method.

				.flex
					.box.monthly
						a(href="{{ subscribe_url }}")
							h3 Monthly

						.pricing-display
							span.currency-sign €
							span.digit-int 9
							span.digit-dec ,90 /&nbsp;month

						.pricing-caption
							p $11.50 USD

						a.sign-up-now(href="{{ subscribe_url }}")
							| Subscribe Now

					.box.yearly
						a(href="{{ subscribe_url }}")
							h3 Yearly

						.pricing-display
							span.currency-sign €
							span.digit-int 109
							span.digit-dec ,00 /&nbsp;year

						.pricing-caption
							p $119 USD

						a.sign-up-now(href="{{ subscribe_url }}")
							| Subscribe Now

					.box.monthly
						a(href="{{ subscribe_url }}")
							h3 Quarterly

						.pricing-display
							span.currency-sign €
							span.digit-int 28
							span.digit-dec ,50 /&nbsp;3&nbsp;months

						.pricing-caption
							p $32 USD

						a.sign-up-now(href="{{ subscribe_url }}")
							| Subscribe Now

				.education
					h3 Special Group Subscription

					.pricing-caption
						p.
							We also provide flexible options for group subscription
							ideal for schools or teams.
						p.
							Get in touch to discuss direct support, custom solutions,
							team management tools, Single Sign-on and more.

					a.btn.btn-info(href="mailto:cloudsupport@blender.org")
						i.pi-email
						| Get in Touch


		section.supported-by
			h2 Our projects were supported by
			img.logos(alt="Supported by", src="{{ url_for('static', filename='assets/img/support_logos.png') }}")

		section.page-card.subscribe(
			style="background-image: url({{ url_for('static', filename='assets/img/backgrounds/pattern_bw_01.jpg')}})")
			.page-card-side
				h2.page-card-title
					span Join #[strong(class="awesome-people") 3492] awesome people.
					br
					| Support Blender, get inspiration, knowledge and tools in one place.

				a.page-card-cta(
					href="{{ subscribe_url }}")
					i.pi-heart-filled
					| Subscribe for {{ price }}


| {% endblock body %}

| {% block footer_scripts %}
script.

	$('.triplet-card').click(function(){
		window.location.href = $(this).attr('data-url');
	});

	function getSubscribers(){
		$.get('https://store.blender.org/product-counter/?prod=cloud', function(data) {
		}).done(function(data){
			if (data.total_sold > 0) {
				$('.awesome-people').html(data.total_sold);
			}
		});
	}

	getSubscribers();

	$('.people-faces .face').hover(
		function(){
			var who = $(this).data('blenderhead');
			$('#' + who).addClass('active');
			$(this).parent().prev().addClass('active');
		},
		function(){
			$('.bio, .people-intro').removeClass('active');
		}
	);

	// Click anywhere in the page to hide the overlay
	function hideOverlay() {
		$('#page-overlay.video').removeClass('active');
		$('#page-overlay.video .video-embed').html('');
	}

	$(document).click(function() {
		hideOverlay();
	});

	$(document).keyup(function(e) {
		if (e.keyCode == 27) {
			hideOverlay();
		}
	});

	$('a.watch-video').click(function(e){
		e.preventDefault();
		e.stopPropagation();

		$('#page-overlay.video').addClass('active');

		var videoId = $(this).attr('data-youtube-id');
		$('#page-overlay .video-embed').html('<iframe src="https://www.youtube.com/embed/' + videoId +'?rel=0&amp;showinfo=0;autoplay=1" frameborder="0" allowfullscreen></iframe>')
	});

| {% endblock footer_scripts %}
