| {% import '_macros/_navigation.html' as navigation %}

include ../../../../pillar/src/templates/mixins/components

ul.dropdown-menu.nav-main
	+nav-secondary()(
		class="nav-secondary-vertical float-left bg-light border-left rounded-left")
		| {{ navigation.dropdown_main_root(title) }}

	.dropdown-menu-tab(data-tab='home')
		.dropdown-menu-column
			+nav-secondary()(
				class="nav-secondary-vertical rounded-right border-left overflow-hidden")
				| {{ navigation.dropdown_main_home(title) }}

	.dropdown-menu-tab(data-tab='open-projects')
		.dropdown-menu-column
			+nav-secondary()(
				class="nav-secondary-vertical rounded-right border-left overflow-hidden")
				| {{ navigation.dropdown_main_open_projects(title) }}

	.dropdown-menu-tab(data-tab='learn')
		.dropdown-menu-column
			+nav-secondary()(
				class="nav-secondary-vertical rounded-right border-left overflow-hidden")
				| {{ navigation.dropdown_main_learn(title) }}

	.dropdown-menu-tab(data-tab='libraries')
		.dropdown-menu-column
			+nav-secondary()(
				class="nav-secondary-vertical rounded-right border-left overflow-hidden")
				| {{ navigation.dropdown_main_libraries(title) }}

	.dropdown-menu-tab(data-tab='services')
		.dropdown-menu-column
			+nav-secondary()(
				class="nav-secondary-vertical rounded-right border-left overflow-hidden")
				| {{ navigation.dropdown_main_services(title) }}
