include ../../../../pillar/src/templates/mixins/components

| {% macro navigation_homepage(title) %}
+nav-secondary()
	+nav-secondary-link(
		href="{{ url_for('cloud.open_projects') }}",
		class="{% if title == 'open-projects' %}active{% endif %}")
		span Open Projects

	+nav-secondary-link(
		href="{{ url_for('cloud.courses') }}")
		span Courses

	+nav-secondary-link(
		href="{{ url_for('cloud.workshops') }}")
		span Workshops

	+nav-secondary-link(
		href="{{ url_for('projects.view', project_url='textures') }}")
		span Textures

	+nav-secondary-link(
		href="{{ url_for('projects.view', project_url='hdri') }}")
		span HDRI

	+nav-secondary-link(
		class="{% if title == 'services' %}active{% endif %}",
		href="{{ url_for('cloud.services') }}")
		span Services
| {% endmacro %}

| {% macro navigation_learn(title) %}
+nav-secondary
	| {% if title in ['learn', 'courses', 'workshops', 'production'] %}
	+nav-secondary-link(
			class="px-0 text-black-50 {% if title == 'learn' %}active{% endif %}",
			href="{{ url_for('cloud.learn') }}")
		span Learn

	li.pl-1
		i.pi-angle-right

	+nav-secondary-link(
			class="{% if title == 'courses' %}active{% endif %}",
			href="{{ url_for('cloud.courses') }}")
		span Courses

	+nav-secondary-link(
			class="{% if title == 'workshops' %}active{% endif %}",
			href="{{ url_for('cloud.workshops') }}")
		span Workshops

	+nav-secondary-link(
		class="{% if title == 'production' %}active{% endif %}",
		href="{{ url_for('cloud.production') }}")
		span.new Production Lessons

	| {% elif title in ['open-projects'] %}
	+nav-secondary-link(
			class="{% if title == 'open-projects' %}active{% endif %}",
			href="{{ url_for('cloud.open_projects') }}")
		span Open Projects
	| {% endif %}
| {% endmacro %}


| {% macro navigation_libraries(title) %}
+nav-secondary
	+nav-secondary-link(
			class="px-0 active",
			href="{{ url_for('cloud.libraries') }}")
		span Libraries

	li.pl-1
		i.pi-angle-right

	+nav-secondary-link(
			href="{{ url_for('projects.view', project_url='textures') }}")
		span Textures

	+nav-secondary-link(
			href="{{ url_for('projects.view', project_url='hdri') }}")
		span HDRI

	+nav-secondary-link(
		href="{{ url_for('projects.view', project_url='characters') }}")
		span Characters
| {% endmacro %}


| {% macro navigation_home_project(title) %}
+nav-secondary()
		+nav-secondary-link(
			href="{{ url_for('projects.index') }}",
			class="{% if title == 'dashboard' %}active{% endif %}")
			i.pi-star.pr-2
			span My Projects

		| {% if current_user.has_organizations() %}
		+nav-secondary-link(
			href="{{ url_for('pillar.web.organizations.index') }}",
			class="{% if title == 'organizations' %}active{% endif %}")
			i.pi-users.pr-2
			span My Organizations
		| {% endif %}

		+nav-secondary-link(
			href="{{ url_for('projects.home_project_shared_images')}}",
			class="{% if title == 'images' %}active{% endif %}")
			i.pi-picture.pr-2
			span Image Sharing

		+nav-secondary-link(
			href="{{ url_for('projects.home_project') }}",
			class="{% if title == 'blender-sync' %}active{% endif %}")
			i.pi-blender.pr-2
			span Blender Sync
| {% endmacro %}


| {% macro navigation_services(title) %}
+nav-secondary()
	+nav-secondary-link(
			class="px-0 active",
			href="{{ url_for('cloud.services') }}")
		span Services

	li.pl-1
		i.pi-angle-right

	+nav-secondary-link(
		href="/attract")
		i.pi-attract.pr-2
		span Attract

	+nav-secondary-link(
		href="/flamenco")
		i.pi-flamenco.pr-2
		span Flamenco
| {% endmacro %}


| {% macro navigation_project(project, navigation_links, title) %}

| {% if project.category == 'course' %}
| {% set category_url = url_for('cloud.courses') %}
| {% set category_title = 'Courses' %}

| {% elif project.category == 'workshop' %}
| {% set category_url = url_for('cloud.workshops') %}
| {% set category_title = 'Workshops' %}

| {% elif project.category == 'film' %}
| {% set category_url = url_for('cloud.open_projects') %}
| {% set category_title = 'Open Projects' %}

| {% elif project.category == 'assets' %}
| {% set category_url = url_for('cloud.libraries') %}
| {% set category_title = 'Libraries' %}

| {% else %}
| {% set category_url = url_for('main.homepage') %}
| {% set category_title = project.category %}
| {% endif %}

+nav-secondary()
	| {% if project.url != 'blender-cloud' %}
	| {% if not project.is_private %}
	+nav-secondary-link(
			class="px-0 text-black-50 text-capitalize",
			href="{{ category_url }}")
		span {{ category_title }}

	li.px-1
		i.pi-angle-right
	| {% endif %}

	+nav-secondary-link(
		class="px-1 font-weight-bold{% if title == 'landing' %} active{% endif %}",
		href="{{url_for('projects.view', project_url=project.url, _external=True)}}")
		span {{ project.name }}
	| {% endif %}

	| {% for link in navigation_links %}
	+nav-secondary-link(
		href="{{ link['url'] }}",
		class="{% if link['slug'] == title %}active{% endif %}")
		span {{ link['label'] }}
	| {% endfor %}

	| {% if project.nodes_featured %}
	| {# In some cases featured_nodes might might be embedded #}
	| {% if '_id' in project.nodes_featured[0] %}
	| {% set featured_node_id=project.nodes_featured[0]._id %}
	| {% else %}
	| {% set featured_node_id=project.nodes_featured[0] %}
	| {% endif %}
	+nav-secondary-link(
			href="{{ url_for('projects.view_node', project_url=project.url, node_id=featured_node_id) }}",
			title="Explore {{ project.name }}",
			class="{% if title == 'project' %}active{% endif %}")
			span Browse
	| {% endif %}

| {% endmacro %}
