include ../../../../pillar/src/templates/mixins/components

| {% macro navigation_homepage(title) %}
+nav-secondary()
	+nav-secondary-link(
		href="{{ url_for('cloud.open_projects') }}")
		span Films

	+nav-secondary-link(
		href="{{ url_for('cloud.courses') }}")
		span Courses

	+nav-secondary-link(
		href="{{ url_for('cloud.workshops') }}")
		span Workshops

	+nav-secondary-link(
		href="{{ url_for('projects.view', project_url='textures') }}")
		span Textures

	+nav-secondary-link(
		href="{{ url_for('projects.view', project_url='hdri') }}")
		span HDRI

	+nav-secondary-link(
		class="{% if title == 'services' %}active{% endif %}",
		href="{{ url_for('cloud.services') }}")
		span Services
| {% endmacro %}

| {% macro navigation_collection(title) %}
+nav-secondary
	| {% if title in ['courses', 'workshops', 'production'] %}
	+nav-secondary-link(
			class="{% if title == 'courses' %}active{% endif %}",
			href="{{ url_for('cloud.courses') }}")
		span Courses

	+nav-secondary-link(
			class="{% if title == 'workshops' %}active{% endif %}",
			href="{{ url_for('cloud.workshops') }}")
		span Workshops

	+nav-secondary-link(
		class="{% if title == 'production' %}active{% endif %}",
		href="{{ url_for('cloud.production') }}")
		span.new Production Lessons

	| {% elif title in ['open-projects'] %}
	+nav-secondary-link(
			class="{% if title == 'open-projects' %}active{% endif %}",
			href="{{ url_for('projects.view', project_url='gallery') }}")
		span Open Projects
	| {% endif %}
| {% endmacro %}
