//- Category listing (Learn, Libraries, etc).
//- Header
mixin category_list_header(title, text)
	.row.pt-2
		.col-md-9
			h1.py-2.text-uppercase.font-weight-bold
				=title

			.lead
				=text

			if block
				block

	hr.my-4

//- List Item
mixin category_list_item(title, text, url, image)
	.row.pb-2.my-2
		.col-md-3
			a(href=url, title=title)
				img.img-fluid.rounded(alt=title, src=image)
		.col-md-9
			a(href=url, title=title)
				h3.font-weight-bold
					=title
			.lead
				=text

			if block
				block
